.About-main {
    width:100%;
    position: relative;
    display: flex;
    text-align: left;
}

.About-right .About-left {
    display: inline;
    padding: 1em;
}

.About-left {
    margin-right: 30px;
}

.avatar {
    height: 400px;
    width: 370px;
}

.myName {
    font-size: 35px;
    text-align: center;
    padding-top: 3%;
    font-family: Kinnari;
}

.media {
    z-index: 2;
    position: relative;
    text-align: center;
    font-weight: bold;
    padding-top: 4%;
}


.about-me-title {
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 2%;
}

.education-title {
    font-size: 25px;
    padding-top: 50%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 700px) {
    .About-main {
        display: block;
    }

    .avatar {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .About-right {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .education-title {
        padding-top: 10%;
    }
}